.link {
  color: var(--color-primary);
  text-decoration: none;
  transition: color 0.2s ease-out;
}

.link:hover {
  text-decoration: underline;
}

.link--dark {
  color: var(--color-dark);
}

.link--dark:hover {
  color: var(--color-primary);
}

.link--secondary {
  color: var(--color-secondary);
}

.link--secondary:hover {
  color: var(--color-primary);
}

.link--with-icon {
  display: inline;
}

.link--with-icon > svg {
  display: inline-block;
  vertical-align: -0.125em;
}

.link--with-icon > svg:first-child {
  margin-inline-end: 0.5em;
}

.link--with-icon > svg:last-child {
  margin-inline-start: 0.5em;
}

.link--icon {
  font-size: var(--font-size-4xl);
  color: var(--color-dark);

  transition: color 0.1s ease-in-out;
  cursor: pointer;
}

.link--icon:hover {
  color: var(--color-primary);
  text-decoration: none;
}
